<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Todos los proyectos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



<ion-button [routerLink]="['/resumen-proyecto']" expand="block" fill="clear" shape="round">
  Click me
</ion-button>



  <div class="lienzo">
    <div id="buscador">
      <p>Buscar</p>
      <ion-input><ion-icon name="search-outline" ></ion-icon></ion-input>      
    </div>
    <div id="proyectos">
      <div class="proyecto">
        <ion-img src="https://ionic-docs-demo-v6.vercel.app/assets/madison.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        <div class="informacion">
          <h3>Proyecto</h3>
          <p>Descripcion del proyecto</p>
        </div>
      </div>
      <div class="proyecto">
        <ion-img src="https://ionic-docs-demo-v6.vercel.app/assets/madison.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        <div class="informacion">
          <h3>Proyecto</h3>
          <p>Descripcion del proyecto,
            Descripcion del proyecto
            Descripcion del proyecto
            Descripcion del proyecto
            Descripcion del proyecto
            Descripcion del proyecto
            Descripcion del proyecto
            Descripcion del proyecto
            Descripcion del proyecto
            Descripcion del proyecto
          </p>
        </div>
      </div>
    </div>
    <ion-button slot="fixed"><ion-icon name="add-outline"></ion-icon></ion-button>
  </div>

</ion-content>




<!-- <footer>


      <ion-button size="large" [routerLink]="['/registro-proyectos']">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>


</footer> -->
