<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
      <ion-thumbnail >
      <img  src="https://images.unsplash.com/photo-1534237710431-e2fc698436d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" />
    </ion-thumbnail>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="formLogin">
        <ion-item fill="solid">
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="email" type="email" ngModel email></ion-input>
          <ion-note slot="helper">Ingresa un correo</ion-note>
            <ion-note slot="error">correo invalido</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="ingresar()" >
        Ingresar
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>


