<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="form">
  <div class="input-select">
    <ion-label>Prioridad</ion-label>
    <ion-item>
      <ion-select placeholder="baja">
        <ion-select-option value="">No Game Console</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="input-select">
    <ion-label>Area</ion-label>
    <ion-item>
      <ion-select placeholder="Area 1">
        <ion-select-option value="">No Game Console</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="input-select">
    <ion-label>Persona asignada</ion-label>
    <ion-item>
      <ion-select placeholder="Pepe">
        <ion-select-option value="">No Game Console</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="input">
    <ion-label>Semanas</ion-label>
    <ion-item>
      <ion-input placeholder="1"></ion-input>
    </ion-item>
  </div>
  <div class="input-select">
    <ion-label>Fecha limite</ion-label>
    <ion-item id="open-modal2">
      <ion-note slot="end">Fecha</ion-note>
    </ion-item>
    <ion-modal trigger="open-modal2">
      <ng-template>
        <ion-datetime
          presentation="date"
          size="cover"
          [showDefaultButtons]="true"
        ></ion-datetime>
      </ng-template> 
    </ion-modal>
  </div>
  <div class="input-area">
    <ion-label>Detalles</ion-label>
    <ion-item>
      <ion-textarea></ion-textarea>    
    </ion-item>
  </div>
  <div class="input-area">
    <ion-label>Adjuntos</ion-label>
    <ion-item>
      <ion-textarea></ion-textarea>    
    </ion-item>
  </div>
  <div class="buttons">
    <ion-button>Crear</ion-button>
  </div>
</div>
</ion-content>
